* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,
body {
    width: 100%;
    height: 100%;
}


#circleScroll {
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 999999;
    border-radius: 50%;
    background-color: #ffe6a7;
}

#main {
    width: 100%;
    background-color: black;
}

/* Landing page */

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a {
    text-decoration: none;
    font-family: "General Sans Medium";
    font-weight: 100;
    font-size: 30px;
    color: white;
}

#nav h4 {
    font-size: 20px;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    margin-left: 30px;
    opacity: 0.6;
    line-height: 1;
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 900;
}

#heading #secondh1 {
    margin-left: 230px;
    opacity: 0.7;
    color: #000814;
}

.textmerge {
    padding-top: 1%;
    padding-right: 5%;
    width: fit-content;
    background-color: white;
    opacity: 0.6;

}

.textmerge h5 {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
    color: black;
    padding-right: 15px;
    padding-bottom: 15px;
}

#smallHeadings {
    margin-top: 100px;
    padding-right: 30px;
}

#smallHeadings h5 {
    text-transform: uppercase;
    margin-top: 0.5vw;
    text-align: right;
    font-size: 1vw;
}

#herofooter {
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a {
    color: #778da9;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}

/* Second screen after Scrolling one step down. */

#second {
    color: #006d77;
    padding-right: 10vw;
    padding-top: 180px;
    background-color: black;
    width: 100%;
    height: 132vh;
}

.elem {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #888;
    padding: 2.5vw 3vw;
    padding-right: 0;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 8vw;
    opacity: 0.7;
}

.elem h5 {
    color: #ffddd2;
    font-size: 4vw;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    display: none;
}

.elemlast img {
    display: none;
    height: 140%;
    z-index: 999;
    position: absolute;
}

/* Third page (About) */
#about {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
    padding: 10vw 10vw;
    padding-left: 50vw;
    width: 100%;
    height: 100vh;
    background-color: #660708;
    color: white;
}

#textabout {
    width: 20rem;
}

#textabout h5 {
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}

#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img {
    width: 200px;
}

#textabout a {
    padding: 12px 22px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #ffddd2;
    font-size: 12px;
}

#subscribe {
    background-color: #660708;
    padding-left: 30px;
    padding-bottom: 40px;
}

#subscribe h5 {
    text-transform: uppercase;
    font-size: large;
    color: #cbc0d3;
    opacity: 0.6;
}

#subscribe a {
    text-decoration: none;
    color: #fff;
}


#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #edddd4;
}

#footerleft {
    display: flex;
    gap: 20px;
}

#footerright a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
}